@font-face {
    font-family: sourcesansproregular;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

/*footer fonts*/
.footer {
  font-family: 'sourcesansproregular';
  font-size: 8pt;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    background-color: #e73627;
    text-decoration: none;
    font-size: 8pt;
    display: block;
}

a, a:visited, a:hover, a:link, a:active {
  color: #FFFFFF;
  text-decoration: none;
}
