.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e73627;
    color: #ffffff;
    text-decoration: none;
    font-size: 8pt;
}

/*
.footer > div {
    padding: 3px 10px 3px 10px;
}
*/

a, a:visited, a:hover, a:link, a:active {
  color: #FFFFFF;
  text-decoration: none;
}

/*
.sub-footer {
  width: 50%;
  float: left;
  text-align: right;
}
*/
