@font-face {
    font-family: sourcesansprolight;
    src: url('SourceSansPro-Light.ttf'), format('ttf');
}

textarea {
  font-family: sourcesansprolight;
  /*text-decoration: none;*/
  resize: none;
  border: #000000 solid 0.37px;
}

.translation {
  text-align: center;
}


.translate-from, .translate-to {
  color: #5d5550;
  background: #ffffff;
  border: 0;
  outline: 0;
}

.dropdown-arrow {
  color: #e73627;
}

.dropdown-menu {
  text-decoration: none;
  border: 0;
}

.translation-area {
  width: 100%;
}
