@font-face {
    font-family: sourcesansprolight;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

/* shared_fonts */
textarea, .dropdown {
  font-family: 'sourcesansprolight';
   font-weight: 300;
  letter-spacing: 1px;
}

textarea {
  font-size: 10pt;
  color: #2e2722;
  resize: none;
  border-color: #000000;
  border-style: solid;
  border-width: 0.37px;
}

.dropdown {
  font-size: 9.8pt;
  color: #e73627;
}


@media (max-width: 767px) {
    .dropdown {
      font-size: 10px;
    }
}

.translation {
  text-align: center;
}

.translate-from, .translate-to {
  color: #5d5550;
  background: #ffffff;
  border: 0;
}

.dropdown-arrow {
  color: #e73627;
}

.dropdown-menu>li>a {
    background-color: #ffffff;
    text-decoration: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:active, .dropdown-menu>li>a:hover {
  color: #e73627;
  background-color: #ffffff;
  border: 0;
}

.translation-area {
  width: 100%;
}
