.dropdown-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}
.dropdown-toggle .icon-bar {
  margin-bottom: 2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.space30px {
  margin: 30px;
}

.space10px {
  margin: 10px;
}

.icon-max-size {
  max-width: 40px;
  max-height: 40px;
}

.cursor-custom {
   cursor: url(image/hand-pointer-icon.png), auto;
}

.general-info {
  color: #e73627;
}
